<div class="not-found">
    <h2 class="not-found__title">Sorry, deze pagina kunnen we niet vinden...</h2>
    <a class="not-found__back-button" href="{{ routes.root_url }}">Verder met winkelen</a>
</div>